header {
  background-color: var(--bg-accent);
}

.header-container {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 2rem;
}

.logo img {
  width: 180px;
  height: 50px;
  object-fit: fill;
}

nav a {
  color: var(--text-primary);
  font-weight: 500;
  position: relative;
}

nav a:after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--text-primary);
  transition: width 0.3s ease;
}

nav a:hover:after {
  width: 100%;
}

nav ul.navbar-menu {
  display: flex;
  gap: 1.2rem;
}

nav ul.navbar-menu > li {
  position: relative;
}

nav ul.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  flex-direction: column;
  gap: .5rem;
  padding: .5rem 2rem 0.5rem .5rem;
  background-color: var(--bg-main);
  box-shadow: var(--shadow-xl);
  z-index: 100;
}

nav ul.navbar-menu > li:hover > ul.dropdown-menu {
  display: block;
}

nav ul.dropdown-menu li {
  margin-left: 0;
}

.mobile-menu-toggle {
  display: none;
  color: var(--text-primary);
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.mobile-menu {
  display: none;
  background: var(--bg-main);
  position: absolute;
  top: 5rem;
  left: 0;
  right: 0;
  padding: 0.5rem 0;
  font-size: 1rem;
  z-index: 100;
}

.mobile-menu-navbar li a {
  display: block;
  padding: .5rem;
}

.mobile-menu-navbar li a:hover {
  background: var(--bg-accent);
}

.mobile-dropdown-menu {
  display: none;
  margin-left: 1rem;
}

.mobile-menu-navbar > li:hover > .mobile-dropdown-menu {
  display: block;
}
