/* Header styles */
header {
  background-color: #D6fff6;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  position: sticky;
  top: 0;
  z-index: 100;
  height: 5rem;
}

.header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 2rem;
} 

.logo img{
  width: 180px;
  height: 50px;
  object-fit:fill;
} 

nav a {
  color: #231651;
  font-weight: 500;
  position: relative;
}

nav a:after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #231651;
  transition: width 0.3s ease;
}

nav a:hover:after {
  width: 100%;
}

 nav ul.navbar-menu {
  display: flex;
  gap: 1.2rem;
  font-size: 1.1rem;
} 

/* Dropdown menu */
nav ul.navbar-menu > li {
  position: relative; 
}


nav ul.dropdown-menu {
  position: absolute;
  top: 100%; /* Position the dropdown below the parent li */
  left: 0;
  list-style: none;
  display: none; /* Initially hidden */
  flex-direction: column;
  gap: .5rem;
  padding: .5rem 2rem 0.5rem .5rem;
  background-color: #fff; /* Add a background color for better visibility */
  box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.1);
  z-index: 10; /* Ensure it appears above other elements */
  font-size: 1rem;
}

 nav ul.navbar-menu > li:hover > ul.dropdown-menu {
   display: block;
} 

nav ul.dropdown-menu li {
  margin-left: 0;
}

/* Mobile menu */
 .mobile-menu-toggle {
  display: none;
  color: #231651;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
} 

.mobile-menu {
  display: none;
  background: #fff;
  position: absolute;
  top: 5rem;
  left: 0;
  right: 0;
  padding: 0.5rem 0;
  font-size: 1rem;
}

.mobile-menu-navbar li a{
  display: block;
  padding: .5rem;
}

.mobile-menu-navbar li a:hover {
  background: #f4f2f2;
}

.mobile-dropdown-menu {
  display: none;
  margin-left: 1rem;
}

.mobile-menu-navbar > li:hover > .mobile-dropdown-menu {
  display: block;
} 