/* helpers.css */

.text-center {
  text-align: center;
}

.margin-top-1 {
  margin-top: 1rem;
}

.margin-bottom-1 {
  margin-bottom: 1rem;
}

.padding-1 {
  padding: 1rem;
}

.hidden {
  display: none;
}