/* typography.css */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-size: 62.5%;
  color: #333;
  font-family: "Jost", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.6rem;
}

p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}