/* Footer */
.footer {
  background-color: #222;
  color: #aaa;
  padding: 60px 0 30px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
  margin-bottom: 40px;
}

.footer-column h3 {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 20px;
}


.footer-column li {
  margin-bottom: 10px;
}

.footer-column a {
  font-size: .9rem;
  color: #aaa;
  transition: color 0.3s ease;
}

.footer-column p {font-size: .9rem;}

.footer-column a:hover {
  color: white;
}

.copyright {
  text-align: center;
  padding-top: 30px;
  border-top: 1px solid #444;
  font-size: 0.9rem;
}